<%= render 'crud_tabs' %>
<%= tbs_active_tab 'Change password' %>
<%= simpler_form_for @user, url: change_password_path(@user) do |f| %>
  <%= f.error_notification %>

  <%= f.input :current_password, required: true, hint: 'Your current password' %>
  <%= f.input :password, required: true, label: 'New password', hint: 'Minimum 6 characters' %>
  <%= f.input :password_confirmation, required: true, label: 'Confirm password', hint: 'Re-enter the same password as above' %>

  <div class="form-actions">
    <%= f.submit 'Update Password', class: 'btn btn-primary' %>
    <%= tbs_button_link 'Cancel', users_path %>
  </div>
<% end %>